<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <main>
            <div>
                <h1>{{ todo.name }}</h1>
                <p>
                    <a href="{% url 'update_todolist' todo.pk %}">Edit</a>
                </p>
                <p>
                    <a href="{% url 'delete_todolist' todo.pk %}">Delete</a>
                </p>
                <h2>Tasks</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Due date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in todo.items.all %}
                            <tr>
                                <td>
                                    <a href="{% url 'update_todoitem' item.pk %}">{{ item.task }}</a>
                                </td>
                                <td>{{ item.due_date }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
